

@media only screen and (max-width: 600px) {
.steps{
    background-color: #f2f4f7;
    width: 100%;
    height: 170vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}

.steps h2{
    font-size: 2em;
    color:#4e3797;
    margin-top: 3%;
}
.subSteps{
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* background-color:aquamarine; */
    width: 100%;
    height: 140vh;
}
.step1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 35vh;
    width: 20vw;
    /* background-color: antiquewhite; */
}
.imgStep {
    background-color: #91d8db;
    border-radius: 55%; /* Set to 50% for a circular shape */
    width: 20vw;
    height: 28vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.step1 img {
    width: 17vw;
    height: 13vh;
}
.step1 p{
    font-size: 1.1em;
    font-weight: bold;

}}

@media only screen and (min-width: 601px) {.steps{
    background-color: #f2f4f7;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}

.steps h2{
    font-size: 2.2em;
    color:#4e3797;
    margin-top: 5%;
}
.subSteps{
    margin-top: 1%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color:aquamarine; */
    width: 100%;
    height: 50vh;
}
.step1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 35vh;
    width: 20vw;
    /* background-color: antiquewhite; */
}
.imgStep{
    background-color: #91d8db;
    /* border-radius: 100%; */
    border-radius: 70px;
    width: 8vw;
    height: 18vh;
    display: flex;
    align-items: center;
}
.step1 img{
    width: 10vw;
    height: 10vh;
    
}
.step1 p{
    font-size: 1.1em;
    font-weight: bold;

}}